@import (css) url('https://fonts.googleapis.com/css?family=Lora&display=swap');

@black: #121212;
@withe: #FFFF;
@grey: #e9e9e9;
@blue: #3575d3;
@blue-king: #1867c1;


/**
===============================
            Buttons
===============================
 */
.btn {
    border-radius: 5px;
}

.btn-primary {
    background-color: @blue !important;
}

/**
===============================
            BackGrounds
===============================
 */
.bg-black {
    background-color: @black;
}

.bg-withe {
    background-color: @withe;
}

.bg-blue {
    background-color: @blue-king;
}

/**
===============================
            Colors
===============================
 */
.color-withe {
    color: @withe;
}

.color-blue-king {
    color: @blue-king !important;
}

.color-black {
    color: @black !important;
}

body {
    font-family: 'Josefin Slab', serif;
    background-color: @grey;
}

nav {
    height: 78px;

    .navbar-toggler {
        margin-left: 20px;
        margin-top: 10px;
    }

    .navbar-collapse {
        background: @black;
        text-align: center;

        .navbar-nav {
        }

    }
}

footer {
    height: fit-content;
    min-height: 90px;
    right: 0;
    bottom: 0;
    left: 0;
    position: relative;
}

.wrapper {
    min-height: calc(100vh - 78px - 90px);

    .container-fluid {
        min-height: calc(100vh - 78px - 90px);
    }
}

.full-h {
    min-height: calc(100vh - 78px - 90px);
}

/**
===============================
        Elements
===============================
 */

.background-cover-center {
    background-size: cover;
    background-position: center;
}

.text-border {
    text-shadow: 2px 0 0 @black, -2px 0 0 @black, 0 2px 0 @black, 0 -2px 0 @black, 1px 1px @black, -1px -1px 0 @black, 1px -1px 0 @black, -1px 1px 0 @black;
}

#welcome-banner {
    position: absolute;
    top: 78px;
    left: 10px;
    height: 100vh;
    border-radius: 15px;
    width: 100%;

    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.7) 55%, rgba(255, 255, 255, .98) 75%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.7) 55%, rgba(255, 255, 255, .98) 75%, rgba(255, 255, 255, 1) 100%);


    h1, h2, h5, h3, h4 {
        color: black;
    }
}

.card-about {
    border-radius: 15px;
}

.img-service {
    background-position: center center;
    background-size: cover;
    width: 20%;
    max-height: 250px;
    min-height: 250px;
}

.card-flex {
    flex: 1 1 0px;
}

#img-about {
    width: 200px;
    height: auto;
    @media (min-width: 576px) {
        width: 90vw;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        width: 200px;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        width: 20vw;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        width: 300px;
    }
}


.bmd-label-static {
    color: black;
}
